.fixed-bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.switch-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-check-input {
    transform: scale(1.5);
    cursor: pointer;
}
.form-check-label {
    margin-left: 10px;
    font-size: 1.1rem;
}

.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-bold {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nanum-gothic-extrabold {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-style: normal;
}

:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --font-heading: 'Montserrat', sans-serif;
  }
  
  body {
    font-family: var(--font-primary);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
  
  .navbar {
    font-family: var(--font-secondary);
  }
  
  /* Các style khác của bạn */

  .nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .nanum-gothic-bold {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .nanum-gothic-extrabold {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  